services:
  frontend:
     build: ./frontend/NOTE_Frontend
     ports:
      - "5173:5173"  
     networks:
      - NoteApp
     depends_on:
      - backend
     environment:
      - VITE_API_URL=http://localhost:5000   

     backend:
      build: ./backend    
      ports:
       - "5000:5000"
     networks:
      - NoteApp    
     depends_on:
      - mongodb
     environment:
      - MONGO_URI=mongodb://mongodb:27017/NoteApp
      - JWT_SECRET=${JWT_SECRET}

  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  volumes:
   mongo_data:
